:root {
  --color: #333;
  --color-secondary: #999;
  --color-third: #aaa;
  --color-primary: #0969f5;
  --bg: #fff;
  --bg-secondary: #efefef;
  --border-color: #efefef;
}

.dark {
  --color: #e0e0e0;
  --color-secondary: #999;
  --color-third: #888;
  --color-primary: #0969f5;
  --bg: #1d1d1f;
  --bg-secondary: #0f0f0f;
  --border-color: #0f0f0f;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
