:root {
  --color: #333;
  --color-secondary: #999;
  --color-third: #aaa;
  --color-primary: #0969f5;
  --bg: #fff;
  --bg-secondary: #efefef;
  --border-color: #efefef;
}

.dark {
  --color: #d2d6da;
  --color-secondary: #8f9296;
  --color-third: #797c7f;
  --color-primary: #0969f5;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #071521;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
